@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
	margin: 0;
	padding: 0;
	/* Use 100% height to ensure Flexbox calculations work */
	height: 100%; 
}

@font-face {
	font-family: 'Doodle';
	src: url('/fonts/Handodle.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Heading';
	src: url('/fonts/edosz.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Body';
	src: url('/fonts/YuseiMagic-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cupcake';
	src: url('/fonts/Bungee-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


.sketch-border {
padding: 0.7rem 0.7rem;
	margin: 0 0.5rem;
	border: 2px solid;
	
	border-top-left-radius: var(--tl-x, 20px) var(--tl-y, 8px);
	border-top-right-radius: var(--tr-x, 12px) var(--tr-y, 22px);
	border-bottom-right-radius: var(--br-x, 25px) var(--br-y, 10px);
	border-bottom-left-radius: var(--bl-x, 10px) var(--bl-y, 23px);
	
	box-shadow: 1px 1px 0px currentColor, -1px -1px 0px currentColor;
	transition: all 0.2s ease;
}

.doodle-slider {
  -webkit-appearance: none; /* remove default style */
  -moz-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  outline: none;
  margin-top: 6px;
  cursor: pointer;
  background: #FFFCC7;
  position: relative;
  --percent: 50%;
}

/* Pseudo-element for filled stripes */
.doodle-slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--percent); /* fill width */
  background: repeating-linear-gradient(-45deg, #FFFCC7 0 2px, #333 4px 4px);
  border-radius: 6px;
  pointer-events: none;
  z-index: 1;
}

/* Chrome / Safari */
.doodle-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: #0B9FBD;
  border: 2px solid #FFFCC7;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000 inset;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Firefox */
.doodle-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #0B9FBD;
  border: 2px solid #FFFCC7;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000 inset;
  cursor: pointer;
  position: relative;
  z-index: 2;
}




